<div class="container">
    <section class="section-title">
        <img class="main-img" src="/assets/masked-image-storage.png" alt="">
        <div class="section">
            <div class="title">
                <H1>Gestor de Recursos <b>Apenas</b> para Seu Negócio!</H1>
            </div>
            <span class="card-container">
                <div class="card" style="grid-area: block1; color: var(--text-50)" >
                   <p>+ Segurança:</p> O Omnira protege seus dados com criptografia avançada e autenticação robusta, garantindo total confiabilidade. 
                </div>
                <div class="card dark-1" style="grid-area: block2; color: var(--text-50)">
                   <p>+ Controle:</p> Gerencie suas operações em tempo real com ferramentas intuitivas e personalizáveis para sua necessidade.  

                </div>
                <div class="card accent-1" style="grid-area: block3;">
                    <h4><b>Omnira</b>: a solução inteligente que transforma <b>segurança</b>, controle em <b>produtividade</b> e <b>inovação</b> para sua empresa.</h4>
                    <div style="display: flex; justify-content: center;">
                        <button [routerLink]="'/login'" class="btn-login">Fazer Login</button>
                    </div>
                    
                </div>
            </span>
        </div>
        
    </section>
</div>

<!-- Luana aparecida trevisan -->
<!-- <button class="botton" [routerLink]="'/login'">Ir para pagina de login.</button> -->