<div class="container">
    <section class="section-title">
        <img class="main-img" src="/assets/masked-image-storage.png" alt="">
        <div class="section">
            <div class="title">
                <H1>Gestor de Recursos <b>Apenas</b> para Seu Negócio!</H1>
            </div>
            <span class="card-container">
                <div class="card">a</div>
                <div class="card">b</div>
            </span>
        </div>
        
    </section>
</div>

<!-- Luana aparecida trevisan -->
<!-- <button class="botton" [routerLink]="'/login'">Ir para pagina de login.</button> -->