<section>
    <div class="content">
        <div>
            <div class="logo" [routerLink]="'/home'">
                <img src="/assets/mainIcon.png">
                <h1>Omnira</h1>
            </div>
        </div>
        <div class="container">
            <div class="nav-list">
                <button>Funcionários</button>
                <button>Estoque</button>
                <button>Produtos</button>
                <button [routerLink]="'/login'">Login</button>
            </div>
        </div>
    </div>
</section>