<section>
    <div class="content">
        <div>
            <div class="logo" [routerLink]="'/home'">
                <img src="/assets/mainIcon.png">
                <h1>Omnira</h1>
            </div>
        </div>
        <div class="container">
            <div class="nav-list">
                @if (backendService.loggedIn()) {
                    <button [routerLink]="'/employees'">Funcionários</button>
                    <button [routerLink]="'/products'">Produtos</button>
                    <button (click)="logout()">Logout</button>
                } @else {
                    <button [routerLink]="'/register'">Registrar</button>
                    <button [routerLink]="'/login'">Login</button>
                }
                
            </div>
        </div>
    </div>
</section>