
<div class="main">
    <form [formGroup]="form">
        <p class="title">Registrar</p>
        <div class="login">
            <label for="name">Nome:</label>
            <input type="text" id="name" formControlName="name" placeholder="Digite seu Nome"/>  
        </div>
        <div class="login">
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" placeholder="Digite seu Email"/>    
        </div>  
        <div class="senha">
            <label for="senha">Senha:</label>
            <input type="password" id="password" formControlName="password" placeholder="Digite a Senha" />
        </div>
        @if (loginError) {
            <span class="error">* Esse email já existe</span>
        }
        <div class="btn-container">
            <button type="submit" [ngClass]="{'invalid': form.invalid}" [disabled]="form.invalid" (click)="onSubmit()">Enviar</button>
        </div>
        <span class="register">Já tem conta? <a [routerLink]="'/login'">Fazer login</a></span>
        
    </form>
</div>