
:root {
    --text-50: #eef0f6;
    --text-100: #dde1ee;
    --text-200: #bcc3dc;
    --text-300: #9aa5cb;
    --text-400: #7888ba;
    --text-500: #576aa8;
    --text-600: #455587;
    --text-700: #343f65;
    --text-800: #232a43;
    --text-900: #111522;
    --text-950: #090b11;
    
    --background-50: #eef1f6;
    --background-100: #dde2ee;
    --background-200: #bcc5dc;
    --background-300: #9aa9cb;
    --background-400: #788cba;
    --background-500: #576fa8;
    --background-600: #455987;
    --background-700: #344365;
    --background-800: #232c43;
    --background-900: #111622;
    --background-950: #090b11;
    
    --primary-50: #e7f9fe;
    --primary-100: #cef2fd;
    --primary-200: #9de5fb;
    --primary-300: #6cd8f9;
    --primary-400: #3bcbf7;
    --primary-500: #0abef5;
    --primary-600: #0898c4;
    --primary-700: #067293;
    --primary-800: #044c62;
    --primary-900: #022631;
    --primary-950: #011318;
    
    --secondary-50: #e8edfc;
    --secondary-100: #d2daf9;
    --secondary-200: #a4b5f4;
    --secondary-300: #7791ee;
    --secondary-400: #496ce9;
    --secondary-500: #1c47e3;
    --secondary-600: #1639b6;
    --secondary-700: #112b88;
    --secondary-800: #0b1c5b;
    --secondary-900: #060e2d;
    --secondary-950: #030717;
    
    --accent-50: #f6eff1;
    --accent-100: #eddee3;
    --accent-200: #dbbdc7;
    --accent-300: #c99cab;
    --accent-400: #b77b8f;
    --accent-500: #a45b73;
    --accent-600: #84485c;
    --accent-700: #633645;
    --accent-800: #42242e;
    --accent-900: #211217;
    --accent-950: #10090c;
    
    
    

    //aqui em baixo muda as cores do site
    --textColor: white;
    --primarycolor:var() ;  
    --secondaryColor: var(--primary-700);
    --buttoncolor: var(--primary-300);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Funnel Sans", serif;
    border: 0;
    background: transparent;
}

html, body {
    height: 100%;
}

body {
    padding-top: 60px;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--primary-950);
}
